<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a href="/"><img src="i mg/logo.png" alt=""></a>
        <h2>Witty</h2>
        <h2 class="asesorias">ASESORIAS</h2>
        <div id="usuario-info">
            <h2>Hola, <%= nombreUsuario %></h2>
        </div>
        <img class="user" src="img/user.png" alt="">
    </header>

        <div class="menu">
                <h1>OPCIONES</h1>
                <a class="opc1" href="">INFORMACION</a>
                <a class="opc2" href="">CREA TUTORIA</a>
                <a class="opc3" href="">CITAS AGENDADAS</a>
                <a class="opc4"></a>
        </div>
</body>
</html>
