<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_c5f1bdd47bbf4ba47b4415c173518fea1'
        });
    </script>
</head>
<body>
    <header>
        <div class="header-left">
            <button id="menu-toggle">
                <img src="https://i.imgur.com/j0RM5oD.png" alt="Menú" id="menu-icon">
            </button>
        </div>
        <div class="header-center">
            <img src="https://i.imgur.com/zxHjzgd.png" alt="Logo">
        </div>
        <div class="header-right">
                <h2>Hola, <%= nombreUsuario %></h2>
            
                <img class="user" src="<%= usuario.foto_perfil %>" alt="Usuario">
        </button>
        </div>
    </header>

    <div class="menu hidden">
        <a class="opc1" href="/asesor-home"><i class="fa fa-home"></i> Inicio</a>
        <a class="opc2" href="/asesor-admin"><i class="fa fa-user"></i> Perfil</a>
        <a class="opc3" href="/agregar-asesoria"><i class="fa fa-pencil"></i> Crear</a>
        <a class="opc4" href="/logout"><i class="fa fa-close"></i> Cerrar sesion</a>
    </div>

    <nav id="profile" class="hidden">
        <ul>
            <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="buscador">
            <form id="buscar-carreras-form" action="/buscar-carreras" method="POST">
                <input type="text" placeholder="¿Qué necesitas hacer hoy?" name="term" id="term" class="input-with-image"> 
                <button type="submit" style="display: none;">Buscar</button>
            </form>
        </div>

        <div class="toolbar">
            <img src="https://i.imgur.com/WWRWHc2.jpeg" alt="">
        </div>
    </div> 

    <div class="why">
        <h1>¿Por qué 
            <br>
            elegirnos?</h1>
        <hr>
        <h2>Somos una empresa comprometida con ayudar a los jóvenes mexicanos a alcanzar su potencial académico. nos dedicamos a proporcionar asesorias personalizadas y recursos educativos de calidad. Nuestra misión es empoderar a los estudiantes, brindándoles el apoyo necesario para superar desafíos y alcanzar sus metas académicas , creemos fielmente en la capacidad de cada estudiante para lograr el éxito y trabajamos con pasión y dedicacion para facilitar su aprendizaje. Elegirnos significa confiar en un equpo de profesionales comprometidos con la excelencia y el desarrollo integral de nuestros jovenes</h2>
    </div>

    <div class="consejos">
        <h2 id="consejostitle">Consejos</h2>
        <div class="consejoswrapper">
        <div class="consejoscontainer">
            <img src="img/uno.png" alt="">
            <div class="consejoinfo">
                <h1>Como ser menos procastinador</h1>
                <h2>los dispositivos electrónicos son parte de nuestro dia a dia, pero para estudiar debemos dejarlos de lado para evitar distracciones. Ya habrá tiempo para contestar mensajes, ver la television o jugar.</h2>
                <hr>
            </div>
            <div class="consejobtn">
                <i id="icons" class="fa fa-comment-o"></i>
                <i id="icons" class="fa fa-heart-o"></i>
            </div>
        </div>

        <div class="consejoscontainer">
            <img src="img/dos.png" alt="">
            <div class="consejoinfo">
                <h1>Desventajas del celular</h1>
                <h2>El uso constante del celular puede afectar nuestra productividad y bienestar. Aunque estos dispositivos son útiles para comunicarnos y acceder a información, pueden convertirse en una fuente de distracción. Al mantenernos demasiado conectados, corremos el riesgo de perder la concentración en tareas importantes y de experimentar una disminución en nuestra calidad de sueño. Es esencial encontrar un equilibrio y reservar momentos para desconectarnos y enfocarnos en actividades que realmente enriquecen nuestro día."</h2>
                <hr>
            </div>
            <div class="consejobtn">
                <i id="icons" class="fa fa-comment-o"></i>
                <i id="icons" class="fa fa-heart-o"></i>
            </div>
        </div>

        <div class="consejoscontainer">
            <img src="img/tres.png" alt="">
            <div class="consejoinfo">
                <h1>Hábitos para el estudio </h1>
                <h2>Establecer hábitos de estudio efectivos es clave para lograr el éxito académico. Crear un ambiente de estudio libre de distracciones, organizar el tiempo de manera eficiente y utilizar técnicas de repaso adecuadas son prácticas fundamentales. Es importante dedicar períodos específicos para estudiar, hacer pausas regulares para mantener la concentración y repasar el material con frecuencia. Estos hábitos no solo mejoran la retención de la información, sino que también fomentan una actitud positiva hacia el aprendizaje.</h2>
                <hr>
            </div>
            <div class="consejobtn">
                <i id="icons" class="fa fa-comment-o"></i>
                <i id="icons" class="fa fa-heart-o"></i>
            </div>
        </div>
    </div>
    </div>


    <div class="utchbg">
        <h2>"El educador es el hombre que hace que las cosas difíciles parezcan fáciles"</h2>
        <h3>Ralph Waldo Emerson</h3>
    </div>
    

    <div class="footer">
        <div class="section">
            <img src="img/Logo.png" alt="">
            <h2 id="alcance">Al alcance de tu mano</h2>
            <a href="/register"><h2>Registrate</h2></a>
        </div>
        <div class="section">
            <h2>Informacion</h2>
            <a href="/informacion"><h3>Misión</h3></a>
            <a href="/informacion"><h3>Visión</h3></a>
            <a href="/informacion"><h3>Justificación</h3></a>
        </div>
        <div class="section">
            <h2>Menu</h2>
            <a href="/asesor-home"><h3>Home</h3></a>
            <a href="/asesor-admin"><h3>Perfil</h3></a>
            <a href="/asesor-admin/"><h3>Crear Asesoria</h3></a>
        </div>
        <div class="section">
            <h2>Redes Sociales</h2>
            <div class="facebook">
                <a href="https://www.facebook.com/share/kdBcQETc9FZBoLnc/?mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
                <a href="https://www.facebook.com/share/kdBcQETc9FZBoLnc/?mibextid=LQQJ4d"><h3>Facebook</h3></a>
            </div>
            <div class="instagram">
            <a href="https://www.instagram.com/wittyasesorias?igsh=d3RzYWdpZW03ZTho"><i class="fa fa-instagram"></i></a>
            <a href="https://www.instagram.com/wittyasesorias?igsh=d3RzYWdpZW03ZTho"><h3>Instagram</h3></a>
        </div>
        </div>  
    </div>
    <div class="foot">
    <hr>
        <h2>2024 @ Copyright | Witty</h2>
    </div>

    <script>
        document.querySelector('.button-left').addEventListener('click', function() {
            document.querySelector('.asesor-container').scrollBy({
                left: -300, // Ajusta la cantidad que quieres desplazar
                behavior: 'smooth'
            });
        });
    
        document.querySelector('.button-right').addEventListener('click', function() {
            document.querySelector('.asesor-container').scrollBy({
                left: 300, // Ajusta la cantidad que quieres desplazar
                behavior: 'smooth'
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
  const slider = document.querySelector('.cards');
  let index = 0;
  
  function moveToNextSlide() {
    index++;
    if (index >= slider.children.length) {
      index = 0;
    }
    slider.style.transform = `translateX(-${index * 5}%)`;
  }

  setInterval(moveToNextSlide, 5000); // Cambia la tarjeta cada 3 segundos
});

    </script>
    <script>
        document.getElementById('profile-toggle').addEventListener('click', function() {
    var menu = document.getElementById('profile');
    menu.classList.toggle('hidden');
});

    </script>

<script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
    var menu = document.querySelector('.menu');
    var containerinfo = document.querySelector('.containerinfo');
    var header = document.querySelector('header');
    var body = document.querySelector('body');
    
    menu.classList.toggle('hidden');
    body.classList.toggle('menu-visible');
    container.classList.toggle('menu-visible');
    header.classList.toggle('menu-visible');
});

</script>
    <script>
        document.querySelector('.button-left').addEventListener('click', function() {
            document.querySelector('.asesor-container').scrollBy({
                left: -300, // Ajusta la cantidad que quieres desplazar
                behavior: 'smooth'
            });
        });
    
        document.querySelector('.button-right').addEventListener('click', function() {
            document.querySelector('.asesor-container').scrollBy({
                left: 300, // Ajusta la cantidad que quieres desplazar
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>
