<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/asesor-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header-left">
            <button id="menu-toggle">
                <img src="https://i.imgur.com/j0RM5oD.png" alt="Menú" id="menu-icon">
            </button>
        </div>
        <div class="header-center">
            <img src="https://i.imgur.com/zxHjzgd.png" alt="Logo">
        </div>
    </header>
    <div class="menu hidden">
        <a class="opc1" href="/asesor-home"><i class="fa fa-home"></i> Inicio</a>
        <a class="opc2" href=""><i class="fa fa-user"></i> Perfil</a>
        <a class="opc3" href=""><i class="fa fa-pencil"></i> Crear</a>
    </div>
    <div class="containerinfo"> 
        <div class="perfilcontainer">
            <div class="perfilfoto">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="">
                <h1>Oscar Mayers</h1>
                <div class="informacion">
                    <h2>Carrera: Tecnologias de la informacion</h2>
                    <h2>E-Mail: oscarmayers@gmail.com</h2>
                </div>
            </div>
            <h2>Soy una persona muy responsable y me encanta ayudar a los demas soy paciente cuando enseño :D</h2>
        </div>
        <div class="fx"></div>
    </div>
    
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            var menu = document.querySelector('.menu');
            var containerinfo = document.querySelector('.containerinfo');
            var header = document.querySelector('header');
            menu.classList.toggle('hidden');
            containerinfo.classList.toggle('menu-visible');
            header.classList.toggle('menu-visible');
        });
    </script>
</body>    
</html>
