<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/buttons-carrers.js"></script>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="">
        <h2>Witty</h2>
        <h2 class="asesorias">ASESORIAS</h2>
        <div id="usuario-info">
            <h2>Hola, <span id="nombre-usuario"><%= nombreUsuario %></span></h2>
        </div>
        <img class="user" src="img/user.png" alt="">
    </header>
    

    <div class="container">
        <div class="buscador">
            <h1>¿Que quieres aprender hoy?</h1>
                <form action="">
                    <input type="text" placeholder="Ingresa una materia">
                    <button type="submit">Buscar</button>
                </form>
        </div>
    </div>


    <div class="carrera">
        <div class="title">Carreras</div>
        <button class="button button-left">&#10094;</button>
        <div class="card-wrapper">
            <div class="card-container">
                <div class="card">
                    <img src="https://i.imgur.com/TNfABNY.png" alt="Energías Renovables">
                    <div class="card-content">
                        <p>Energías Renovables</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.imgur.com/RWNjIqa.jpeg" alt="Procesos Industriales">
                    <div class="card-content">
                        <p>Procesos Industriales</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.imgur.com/CaZrz8b.png" alt="Desarrollo de Negocios">
                    <div class="card-content">
                        <p>Desarrollo de Negocios</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.imgur.com/9YWcVMW.png" alt="Mantenimiento Industrial">
                    <div class="card-content">
                        <p>Mantenimiento Industrial</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.imgur.com/ZRNavvA.png" alt="Mecatrónica">
                    <div class="card-content">
                        <p>Mecatrónica</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.imgur.com/37EoWx1.jpeg" alt="Tecnologías de la Información">
                    <div class="card-content">
                        <p>Tecnologías de la Información</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="button button-right">&#10095;</button>
    </div>

    <div class="asesores">
        <div id="asesort" class="title">Asesores top</div>
            <div class="asesor-wrapper">
                <div class="asesor-container">
                    <div class="asesor">
                        <img id="asesorti" src="https://laboratoriosniam.com/wp-content/uploads/2018/07/michael-dam-258165-unsplash_WEB2.jpg" alt="">
                            <div class="asesor-content">
                                <p>Asesor 1</p>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                </div>
                    </div>
                    <div class="asesor">
                        <img id="asesorti" src="https://img.freepik.com/foto-gratis/hombre-feliz-pie-playa_107420-9868.jpg?1" alt="">
                            <div class="asesor-content">
                                <p>Asesor 2</p>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                            </div>
                    </div>
                    <div class="asesor">
                        <img id="asesorti" src="https://mejorconsalud.as.com/wp-content/uploads/2017/11/hombre-sonriendo-gafas.jpg" alt="">
                            <div class="asesor-content">
                                <p>Asesor 3</p>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star"></i>
                                        <i id="star" class="fa fa-star-o"></i>
                            </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="footer">
        <h1>Copyright ©Witty todos los derechos estan reservados.</h1>
    </div>
</body>
</html>
