<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/estudiante-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <img src="https://i.imgur.com/zxHjzgd.png" alt="Logo">
    </header>
    <div class="containerinfo">
        <div class="menu">
            <a class="opc1" href="/estudiante-home"><i class="fa fa-home"></i> Inicio</a>
            <a class="opc2" href=""><i class="fa fa-user"></i> Perfil</a>
            <a class="opc3" href=""><i class="fa fa-envelope"></i> Correo</a>
        </div>
</div>
<div class="fx"></div>
</body>    
</html>
