<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Información</title>
    <link rel="stylesheet" href="css/informacion.css">
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_c5f1bdd47bbf4ba47b4415c173518fea1'
    });
</script>
</head>
<body>
    <!-- Imágenes de fondo -->
    <div class="background-images">
        <img src="img/LineaVerde.png" alt="Linea Verde" class="linea-verde">
        <img src="img/LineaGris.png" alt="Linea Gris" class="linea-gris">
        <img src="img/LineaVerde.png" alt="Linea Verde" class="linea-esquina">
    </div>

    <header>
        <a href="/estudiante-home"><h1>Inicio</h1></a>
    </header>

    <div class="container">
        <div class="logo">
            <img src="img/Logo.png" alt="Logo">
            <h1 class="main-title">Witty</h1>
        </div>
        <div class="content">
            <div class="section mision">
                <div class="video-container mision-video">
                    <video src="videoInformacion/VideoInformacion1.mp4" autoplay muted loop></video>
                </div>
                <div class="text-container mision-text">
                    <h2>Misión</h2>
                    <p>Proporcionar un enlace para que el alumnado pueda recibir asesorías de una forma más eficaz con la disminución del tiempo de espera de las mismas.</p>
                </div>
            </div>
            <div class="section vision">
                <div class="video-container vision-video">
                    <video src="videoInformacion/VideoInformacion2.mp4" autoplay muted loop></video>
                </div>
                <div class="text-container vision-text">
                    <h2>Visión</h2>
                    <p>Aportar a la formación de la comunidad, dejando a un lado las dificultades, brindando comodidad y confianza a los usuarios, para en un futuro llegar a extenderse a toda la república, buscando la cooperación mutua.</p>
                </div>
            </div>
            <div class="section justificacion">
                <div class="text-container justificacion-text">
                    <h2>Justificación</h2>
                    <p>Esta página web abordará el problema de las demoras en la asignación de citas para asesorías proporcionadas por los profesores de la institución. Además, los estudiantes generalmente comentan que debido a las clases y el trabajo, el horario de las asesorías no es muy flexible para poder tomar una asesoría. En esta plataforma el estudiante podrá agendar una asesoría con el profesor de su preferencia y de una forma eficiente tanto en tiempo como en cantidad por las vías remotas. Al mismo tiempo, los estudiantes de las carreras afines se beneficiarán de un apoyo más eficaz ya que podrán compartir lo que comprenden mejor sus necesidades y horarios.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="jsInformacion.js"></script>
</body>
</html>