body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

header img {
    height: 55px;
    margin: 5px;
    padding: 10px;
}

header h2 {
    color: #092A54;
    font-weight: bold;
}

.asesorias {
    text-align: center;
    margin: 0 auto;
}

.container {
    background-image: url('https://i.imgur.com/ZzwMCUT.png');
    height: 100vh; 
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido horizontalmente */
}

.buscador h1 {
    color: #a2c3ee;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
}

.buscador form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.buscador form input[type="text"] {
    height: 50px;
    font-size: 20px;
    text-align: start;
    width: 60vw; /* Utilizar un ancho relativo */
    max-width: 620px;
    margin: 5px 0; /* Añadir márgenes */
    padding: 10px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.buscador form input[type="text"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 8px rgba(128, 189, 255, 0.5);
    outline: none;
}

.buscador form button[type="submit"] {
    margin: 5px 0;
    height: 70px;
    width: 30vw; /* Utilizar un ancho relativo */
    max-width: 150px;
    background-color: #a2c3ee;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.buscador form button[type="submit"]:hover {
    background-color: #8cbce5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .buscador h1 {
        font-size: 50px; /* Reducir el tamaño de la fuente */
    }

    .buscador form input[type="text"], .buscador form button[type="submit"] {
        width: 80vw; /* Aumentar el ancho relativo */
        max-width: none; /* Eliminar el ancho máximo */
        border-radius: 8px; /* Bordes redondeados en todos los lados */
    }

    .buscador form {
        flex-direction: column; /* Cambiar la dirección del flex a columna */
    }

    .buscador form button[type="submit"] {
        height: 50px; /* Reducir la altura del botón */
    }
}

.carrera {
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    padding: 30px;
    position: relative;

}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #2f4f4f;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-container {
    display: flex;
    padding: 20px;
}

.card {
    background-color: #789c9f;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(168, 85, 85, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:last-child {
    margin-right: 0;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #789c9f;
}

.card img {
    width: 100%;
    height: 360px;
    border-radius: 10px;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #789c9f;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.button-left {
    left: -50px;
}

.button-right {
    right: -50px;
}

.asesores {
    background-color: hsl(0, 0%, 13%);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.asesor-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.asesor-container {
    display: flex;
}

.asesor {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    width: 300px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#asesort{
    color: white;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
}

.asesor h4{
    text-align: inherit;
}

#asesorti{
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    height: 250px;
    width: 100%;
}

.asesor:last-child {
    margin-right: 0;
}

.asesor:hover {
    transform: translateY(-10px);
}

.asesor img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.asesor-content {
    padding: 20px;
    text-align: center;
}

#star{
    color:gold;
    font-size: 30px;
}

.footer{
    background-color: #789c9f;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h1{
    margin: 0;
}

header a{
    text-decoration: none;
}